<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="createPostCSS.css">
    <link rel="stylesheet" type="text/css" href="generalStyle.css">
</head>
<body>

<header th:replace="navigation/headNavigation" :: header>

</header>

<div>
    <h1>Create a new post</h1>

    <table>
        <tbody>
            <form action="/index/createPost" method="post">
                <tr>
                    <td>Person ID (Change later)</td>
                    <td><input type="text" name="personID"></td>
                </tr>
                <tr>
                    <td><label>Title</label></td>
                    <td><input type="text" name="headline"></td>
                </tr>
                <tr>
                    <td id="tdLabelPostInputTextField"><label>Post text</label></td>
                    <td id="tdInputPostInputTextField"><input type="text" id="postInputTextField" name="textField"></td>
                </tr>

                <input type="submit" id="btn-createPostSubmit" value="Create post">

            </form>
        </tbody>
    </table>

</div>

</body>
</html>