<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Forside</title>
    <link rel="stylesheet" type="text/css" href="adminHomeCSS.css">
    <link rel="stylesheet" type="text/css" href="generalStyle.css">
</head>
<body>


<header th:replace="navigation/headNavigation" :: header>

</header>

    <div id="Content">

    <h1>Admin, forum forside</h1>



        <a href="/createPost">
            <button class="btn-createPost btn" id="btn-createPost">Create new post</button>
        </a>
        <a href="/viewListOfPerson">
            <button class="btn-viewListOfPerson btn" id="btn-viewListOfperson">View list of all users</button>
        </a>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Textfield</th>
                    <th>Post Date</th>
                    <th>Last edit</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="post: ${postList}">
                    <td th:text="${post.headline}" />
                    <td th:text="${post.textField}" />
                    <td th:text="${post.postDate}" />
                    <td th:text="${post.changedDate}" />
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>