/*set the class btn to have the following elements*/
.btn {
    border: none;
    color: white;
    /*top and bottom padding is 7px, right and left padding is 10px*/
    padding: 7px 10px;
    text-align: center;
    background-color: green;
}
/*gives a hover to the btn class*/
.btn:hover{
    box-shadow: 2px 2px 2px #888888;
}

#btn-updatePerson{
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    background-color: green;
}
#btn-updatePerson:hover{
    box-shadow: 2px 2px 2px #888888;
}

#btn-deletePost{
    background-color: red;
}
/*
padding set to 1% to add space around the button
margin-top set to 2% to give a 2% margin to the top of the closest element
*/
#btn-createPost{
    margin-top: 2%;
    padding: 1%;
    width: 15.5%;
}

#btn-joinGroup{
    margin-top: 2%;
    padding: 1%;
    width: 15.5%;
}

#userFrontPageButtons{
    width: 20%;
}

/*Display all paragraphs on a straight line*/
p{
    display:inline;
}

/*Set border-collapse: collapse there is no space in between the table border and each cell */
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}
/*Table header, background-color set to clients request*/
th{
    background-color: #4a9fa8;
}

/*sets the border, padding and aligns the text of table cells and table headers*/
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 1.5%;
}

/*Set even table rows to have this color*/
tr:nth-child(even){
    background-color: #7ec4cc;
}
