.btn {
    border: none;
    color: white;
    /*top and bottom padding is 7px, right and left padding is 10px*/
    padding: 7px 10px;
    text-align: center;
    background-color: green;
}
.btn:hover{
    box-shadow: 2px 2px 2px #888888;
}

#btn-updatePerson{
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    background-color: green;
}
#btn-updatePerson:hover{
    box-shadow: 2px 2px 2px #888888;
}

#btn-deletePost{
    background-color: red;
}

#btn-createPost{
    margin-top: 2%;
    padding: 1%;
    width: 15.5%;
}

#btn-joinGroup{
    margin-top: 2%;
    padding: 1%;
    width: 15.5%;
}

#userFrontPageButtons{
    width: 20%;
}

/*Display all paragraphs on a straight line*/
p{
    display:inline;
}

/*Set border-collapse: collapse there is no space in between the table border and each cell */
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
}

th{
    background-color: #4a9fa8;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 1.5%;
}

/*Set even table rows to have this color*/
tr:nth-child(even){
    background-color: #7ec4cc;
}
