<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Creating new user</title>
    <link rel="stylesheet" type="text/css" href="createUserCSS.css">
</head>
<body style="background-color: #c5ebef">

    <div>
    <h1>New user creation</h1>

        <!-- Input areas to add information about new User  -->
        <form action="/createUserWindow" method="post">
            <label>Username: </label>
            <input type="text" name="personUsername"/>
            <br>
            <label>Password: </label>
            <input type="text" name="personPassword"/>
            <br>
            <label>E-mail: </label>
            <input type="text" name="email"/>
            <br>
            <label>Profile description (Optional)</label>
            <textarea rows="6" cols="50" type="text" name="personDescription"></textarea>
            <br>
            <input class="btn" type="submit" value="Confirm"/>
            <br>
            <input class="btn" id="btn-createUserWindowReset" type="reset" value="Cancel"/>
        </form>
    </div>

</body>
</html>