<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating new user</title>
</head>
<body>

    <h1>New user creation</h1>

    <form action="/loginPage/createUserWindow" method="post">
        <label>Username: </label>
        <input type="text" name="personUsername"/>
        <label>Password: </label>
        <input type="text" name="personPassword"/>
        <label>E-mail: </label>
        <input type="text" name="email"/>

        <input style="color: black" type="submit" value="Confirm"/>
        <input style="color: red" type="submit" value="Cancel"/>


    </form>

</body>
</html>