<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="/../createPostCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body style="background-color: #c5ebef">

<header th:replace="navigation/headNavigation" :: header>

</header>

<div>
    <h1>Create a new post</h1>

        <!-- Input areas to add information about new post  -->
        <form action="/userFrontPage/createPost/" method="post">

            <input type="hidden" th:value="${person.personID}" name="personID">
            <br>
            <b><label id="createPostBelongsToGroup">belongsToGroup: </label></b>
            <input type="text" name="belongsToGroup">
            <br>
            <b><label>Title: </label></b>
            <input type="text" id="inputCreatePostTitle" name="headline">
            <br>
            <b><label>Post text: </label></b>
            <textarea rows="6" cols="50" id="postInputTextField" name="textField"></textarea>
            <br>
            <input type="submit" id="btn-createPostSubmit" value="Create post">
        </form>
</div>

</body>
</html>