<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Creating new user</title>
</head>
<body>


    <h1>New user creation</h1>

    <form action="/createUserWindow" method="post">
        <label>Username: </label>
        <input type="text" name="personUsername"/>
        <label>Password: </label>
        <input type="text" name="personPassword"/>
        <label>E-mail: </label>
        <input type="text" name="email"/>
        <label>Profile picture (Optional)</label>
        <input type="file" name="picture" accept="image/*">
        <label>Profile description (Optional)</label>
        <textarea rows="6" cols="50" type="text" name="personDescription"></textarea>

        <input style="color: black" type="submit" value="Confirm"/>
        <input style="color: red" type="submit" value="Cancel"/>


    </form>

</body>
</html>