<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="/../createPostCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body>

<header th:replace="navigation/headNavigation" :: header>

</header>

<div>
    <h1>Create a new post</h1>


        <form action="/userFrontPage/createPost/" method="post">

            <input type="hidden" th:value="${groupID}" name="groupID">
            <br>
            <b><label>Title</label></b>
            <input type="text" name="headline">
            <br>
            <b><label>Group</label></b>



            <b><label>Post text</label></b>
            <textarea rows="6" cols="50" type="text" name="textField"></textarea>


            <input type="submit" id="btn-createPostSubmit" value="Create post">

        </form>


</div>

</body>
</html>