<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
    <link rel="stylesheet" type="text/css" href="/../userHomeCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body>

<header th:replace="navigation/headNavigation" :: header>

</header>

    <!-- Input areas to change information in  one post  -->
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Textfield</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <form action="/editOnePost" method="post">
            <tr>
                <!-- Hides the row and input, referencing the postID without showing the user -->
                <td style="display:none;"><input type="hidden" name="postID" th:value="${post.postID}"></td>
                <td><input type="text" name="headline" th:value="${post.headline}"></td>
                <!--We would like to use the textarea tag here, but we can't handle the th:value when using it-->
                <td><textarea rows="6" cols="70" type="text" name="textField" th:text="${post.textField}"></textarea></td>
                <td><input class="btn-editOnePostSubmit btn" type="submit" id="btn-editOnePostSubmit" value="Update post"></td>
            </tr>
        </form>
    </tbody>
</table>

</body>
</html>