<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <link rel="stylesheet" type="text/css" href="/../userHomeCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body style="background-color: #c5ebef">

    <header th:replace="navigation/headNavigation" :: header>

    </header>

    <h1>Group details</h1>

    <td>
        <a th:href="@{/createNewGroup/}">
            <button class="btn-createNewGroup btn" id="btn-createNewGroup">Create new Group</button>
        </a>
    </td>


    <table>
        <thead>
            <tr>
                <th>Group ID</th>
                <th>Group Name</th>
                <th>Group Description</th>
                <th>Go to Group</th>
                <th>Join Group</th>
                <th>Delete Group</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="forum_groups: ${Groups}">
                <td th:text="${forum_groups.groupID}"/>
                <td th:text="${forum_groups.groupName}"/>
                <td th:text="${forum_groups.groupDescription}"/>
                <td>
                    <a th:href="@{'/groupPosts/'+${forum_groups.groupID}}">
                        <button class="btn-viewGroup btn" id="btn-viewGroup">View Group</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/joinGroup/'+${forum_groups.groupID}}">
                        <button class="btn-joinGroups btn" id="btn-joinGroups">Join Group</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/deleteGroup/'+${forum_groups.groupID}}">
                        <button class="btn-deleteGroup btn" id="btn-deleteGroup">Delete Group</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>