<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/../adminHomeCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body>

    <header th:replace="navigation/headNavigation" :: header>

    </header>

    <h1>Group details</h1>

    <table>
        <thead>
            <tr>
                <th>Group ID</th>
                <th>Group Name</th>
                <th>Group Description</th>
                <th>Go to Group</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="forum_groups: ${Groups}">
                <td th:text="${forum_groups.groupID}"/>
                <td th:text="${forum_groups.groupName}"/>
                <td th:text="${forum_groups.groupDescription}"/>
                <td>
                    <a th:href="@{'/groups/'+${forum_groups.groupID}}">
                        <button class="btn-viewGroup btn" id="btn-viewGroup">View Group</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>