<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="generalStyle.css">
</head>
<body>

    <header th:replace="navigation/headNavigation" :: header>

    </header>

    <h1>Group details</h1>

    <table>
        <thead>
            <tr>
                <th>Group ID</th>
                <th>Group Name</th>
                <th>Group Description</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="Group: ${group}">
                <td th:text="${group.groupID}"/>
                <td th:text="${group.groupName}"/>
                <td th:text="${group.groupDescription}"/>
            </tr>
        </tbody>
    </table>

</body>
</html>