<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="loginCSS.css">
</head>
<body>

    <h1>Welcome to Transrationel</h1>

    <label>Username: </label>
    <input type="text" name="personUsername">
    <label>Password: </label>
    <input type="text" name="personPassword">

    <input style="color: black" type="submit" value="Login"/>

    <a href="/createUserWindow">
     <button class="btn-createUserWindow btn" id="btn-createUserWindow">Create new user</button>
    </a>






</body>
</html>