<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="loginCSS.css">
</head>
<body>

    <h1>Welcome to Transrationel</h1>

    <label>Username: </label>
    <input type="text" name="personUsername">
    <label>Password: </label>
    <input type="password" name="personPassword">

    <input style="color: black" type="submit" value="Login"/>

    <a href="/createUserWindow">
     <button class="btn-createUserWindow btn" id="btn-createUserWindow">Create new user</button>
    </a>

    <a href="/userFrontPage">
        <button class="btn-goToFrontpage btn" id="btn-goToFrontpage">Go to user frontpage</button>
    </a>

    <a href="/frontPage">
        <button class="btn-frontPage btn" id="btn-frontPage">Go to Admin frontpage</button>
    </a>






</body>
</html>