<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="loginCSS.css">
</head>
<body style="background-color: #c5ebef">

    <h1>Welcome to The Transrational</h1>

    <div id="loginUserAndPass">
        <b><label>Username: </label></b>
        <input type="text"  name="personUsername">
        <br>
        <b><label>Password:  </label></b>
        <input type="password" name="personPassword">
        <br>
        <input style="color: black" id="btn-loginButton" type="submit" value="Login"/>
        <br>

        <p><a href="/createUserWindow">
         <button class="btn-createUserWindow btn" id="btn-createUserWindow">Create new user</button>
        </a></p>

        <p><a href="/userFrontPage">
            <button class="btn-goToFrontPage btn" id="btn-goToFrontPage">Go to user frontpage</button>
        </a></p>

        <p><a href="/frontPage">
            <button class="btn-frontPage btn" id="btn-frontPage">Go to Admin frontpage</button>
        </a></p>
    </div>


    <h1>List of users</h1>

    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th>Profile Description</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${personList}">
            <td th:text="${person.personUsername}" />
            <td th:text="${person.email}" />
            <td th:text="${person.personDescription}" />
            <td>
                <a th:href="@{'/userFrontPage/'+${person.personID}}">
                    <button class="btn-userFrontPage btn" id="btn-userFrontPage">View this user</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>