<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body>

<header th:replace="navigation/headNavigation" :: header>

</header>

<!-- A button there goes to antoher page to create a message-->
<h1><a th:href="@{'/newMessagePage/'+${personID}}"><button class="btn-groups btn" id="btn-groups"> New Message </button></a></h1>

<!-- A table containing all the users messages -->
    <table>
        <thead>
            <tr>
                <td>From</td>
                <td>Headline</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
                <tr th:each="privateMessage: ${privateMessage}">
                <td th:text="${privateMessage.personUsername}"></td>
                <td th:text="${privateMessage.headline}"></td>
                <td th:text="${privateMessage.timestampPrivateMessage}"></td>


            </tr>



        </tbody>




    </table>

</body>
</html>