<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<header th:replace="navigation/headNavigation" :: header>

</header>

    <table>
        <thead>
            <tr>
                <td>From</td>
                <td>Headline</td>
                <td>Date</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="privateMessage: ${privateMessage}">
                <td th:text="${privateMessage.personUsername}"></td>
                <td th:text="${privateMessage.headline}"></td>
                <td th:text="${privateMessage.timestampPrivateMessage}"></td>


            </tr>



        </tbody>




    </table>

</body>
</html>