<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body>
<header th:replace="navigation/headNavigation" :: header></header>

    <Label> Receiver </Label> <input type="text" name="toName">
    <Label> Headline </Label> <input type="text" name="headline">
    <Label> Message </Label> <input type="text" name="message">




</body>
</html>