<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Send message</title>
    <link rel="stylesheet" type="text/css" href="/../createPostCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body style="background-color: #c5ebef">
<header th:replace="navigation/headNavigation" :: header></header>

    <!-- Text fields and labels -->
    <Label> Receiver: </Label>
    <input type="text" name="toName">
    <br>
    <Label> Headline: </Label>
    <input type="text" name="headline">
    <br>
    <Label> Message: </Label>
    <input type="text" name="message">

</body>
</html>