<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" type="text/css" href="/../adminHomeCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body>

    <header th:replace="navigation/headNavigation" :: header>

    </header>

    <p>.</p>
    <p>.</p>
    <h1>This is where the main window is for users</h1>

    <a th:href="@{'/createPost/'+${personID}}">
        <button class="btn-createPost btn" id="btn-createPost">Create new post</button>
    </a>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Textfield</th>
            <th>Post Date</th>
            <th>Last edit</th>
            <th>Go to Group</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="post: ${postList}">
            <td th:text="${post.headline}" />
            <td th:text="${post.textField}" />
            <td th:text="${post.postDate}" />
            <td th:text="${post.changedDate}" />
            <td>
                <a th:href="@{'/groupPosts/'+${post.belongsToGroup}}">
                    <button class="btn-goToGroup btn" id="btn-goToGroup">Go to group</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>