<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Frontpage</title>
    <link rel="stylesheet" type="text/css" href="/../userHomeCSS.css">
    <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
</head>
<body style="background-color: #c5ebef">

    <!-- A thymeleaf reference to the below URL which contains the navigationbar HTML code -->
    <header th:replace="navigation/headNavigation" :: header>

    </header>

        <a th:href="@{'/createPost/'+${personID}}">
            <button class="btn-createPost btn" id="btn-createPost">Create new post</button>
        </a>
    <!-- creating a table with data from the database forum_system.post table -->
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Textfield</th>
                <th>Post Date</th>
                <th>Last edit</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        <!-- iterating through the post table, referencing the String provided in the controller -->
            <tr th:each="post: ${postList}">
                <td th:text="${post.headline}" />
                <td th:text="${post.textField}" />
                <td th:text="${post.postDate}" />
                <td th:text="${post.changedDate}" />
                <td id="userFrontPageButtons">
                    <!-- Thymeleaf hyperlink reference to the URL provided the controller,
                         ${post.postID} is a reference to the table post and the postID in that table -->
                    <p>
                        <a th:href="@{'/editOnePost/'+${post.postID}}">
                        <button class="btn-editOnePost btn" id="btn-editOnePost">Edit post</button>
                        </a>
                    </p>
                    <!-- paragraph on the buttons is used for easier styling (CSS) -->
                    <p>
                        <a th:href="@{'/deletePost/'+${post.postID}}">
                        <button class="btn-deletePost btn" id="btn-deletePost">Delete post</button>
                        </a>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    </body>
</html>