<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="/../userHomeCSS.css">
        <link rel="stylesheet" type="text/css" href="/../generalStyle.css">
    </head>
    <body>

        <header th:replace="/../navigation/headNavigation" :: header>

        </header>
        <!-- View one user tabel and information and possibility of change it   -->
        <table id="tableViewPersonIDOne">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Description</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <form action="/updatePerson" method="post">
                    <tr>
                        <td style="display:none;"><input type="hidden" name="personID" th:value="${person.personID}"></td>
                        <td><input type="text" name="personUsername" th:value="${person.personUsername}"></td>
                        <td><input type="text" name="email" th:value="${person.email}"></td>
                        <td><textarea rows="6" cols="50"  type="text" name="personDescription"
                                      th:text="${person.personDescription}"></textarea></td>
                        <td><input type="submit" id="btn-updatePerson" value="Update"></td>
                    </tr>
                </form>
            </tbody>
        </table>

    </body>
</html>