<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="generalStyle.css">



</head>
<body>

    <!-- this the html for the top navigation bar made with a list, its id name in the ccs stylesheet is topnav-->
    <header  id="topnav">
        <ul>

            <li id="rightHome" class="topNav" ><a th:href="@{'/userFrontPage/'+${personID}}"> HOME </a></li>

            <li id="leftLogOut" class="topNav"><a th:href="@{/}"> LOG OUT </a></li>


            <li id="theSupport" class="topNav"><a> SUPPORT </a></li>

            <li id="theNotification" class="topNav"><a> NOTIFICATION </a></li>
        </ul>
    </header>

    <!-- This is the side Navigation bar made with a list its id name in the ccs stylesheet is sidenav-->
    <nav id=sidenav>
        <ul>
            <li>
                <a th:href="@{'/viewOnePerson/'+${personID}}">
                    <button class="btn-viewOnePerson btn" id="btn-viewOnePerson">Profile</button>
                </a>
            </li>
            <li><a>picture</a></li>
            <li><a>respect</a></li>
            <li><a>rating</a></li>
            <li>
                <a th:href="@{'/messagePage/'+${personID}}">
                    <button class="btn-viewMessagePage" id="btn-viewMessagePage">Messages</button>
                </a>
            </li>

            <hr>

            <li><a><p style="color: white">Groups:</p></a></li>

            <li>
                <a th:href="@{'/groups/'+${personID}}">
                    <button class="btn-groups btn" id="btn-groups">See all groups</button>
                </a>
            </li>

        </ul>


    </nav>

    <!-- ------------------------- -->

</body>
</html>